.hidden{
    display: none;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.img{
    max-width:100%;
    display: block;
    height: auto;
}

button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    margin: 0;
    font-size: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0px 16px;
}
@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

/* header */

.header {
    background: #fff;
    font-family: "Roboto", sans-serif;
    -second-family: "Raleway", sans-serif;
    color: #404bbf;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav ,
.address-head{
    display: none;
}
.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
    font-family: raleway, sans-serif;
}
.header-logo-italic {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.burder-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon{
    display: block;
    fill: #2f2f37;
}


@media screen and (min-width: 768px) {
            .mobile-menu {
                display: none;
            }
    
.burder-btn {
        display: none;
    }
        .page-nav {
            display: flex;
            align-items: center;
            gap: 40px;
        }
.address-head {
    font-style: normal;
    display: block;
 }
    .nav-link {
      display: flex;
 align-items: center;
 }
.header-logo {
        font-weight: 700;
       font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
     margin-right: 120px;
    font-family: raleway, sans-serif;
    }
     .header-link {
    display: block;
    padding: 24px 0;  
    font-weight: 500;
     font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    border-bottom: 1px solid #e7e9fc;                                                                                        
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
    .header-link.current {
      position: relative;
         }
.header-link.current::after {
 content: "";
 background-color: #404bbf;
 width: 100%;
height: 4px;
border-radius: 2px;
position: absolute;
 left: 0;
bottom: -1px;
}
.header-link:focus,
.header-link:hover,
.header-link.current {
    color: #404bbf;
}
.address-link:focus,
.address-link:hover {
    color: #404bbf;
}
.page-nav-ul {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}
.address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}
}

@media screen and (min-width: 1158px) {
    .header-logo{
        margin-right: 76px;
    }
        .page-nav-ul {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
.address-link { 
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}


/* mobile menu */

.mobile-menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
padding-top: 72px;
padding-bottom: 40px;
display: flex;
flex-direction: column;
height: 100%;
}

.mobile-menu-nav{
    margin-bottom: auto;
}
.mobile-menu-ul {
   display: flex;
   gap: 40px;
   flex-direction: column;
   
}

.mobile-menu-li{
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

.mobile-list{
gap: 40px;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-lists {
    gap: 40px;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contact{
    display: block;
    font-style: normal;
}

.mobile-ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-contacts{
    color: #4d5ae5;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contact {
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.mobile-menu-close{
    position: absolute;
    top: 24px;
    border: none;
    right:24px;
    width: 24px;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        border-radius: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus{
    border: none;
        background-color: #404BBF;
        fill: #FFFFFF;
    }

.close-btn-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon{
    width: 280px;
    height: 40px;
}

.mobile-nane {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.mobile-team-nane{
    display: flex;
    width: 40px;
height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-team-nane:focus,
.mobile-team-nane:hover {
    background-color: #404bbf;
}

.icon-nane {
    fill: #f4f4fd;
}

/* main */

.text-section {
    background-color: #2e2f42;
    display: flex;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            image-set(
        url(../images/background/office-mob.jpg) 1x,
        url(../images/background/office-mob@2x.jpg) 2x);
  
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    margin: auto;
    background-size: cover;
}

.title-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 72px;
    max-width: 216px;
    
}

.button-business {
    min-width: 169px;
    border: none;
    height: 56px;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 4px;
    text-align: center;
    display: block;
    color: #fff;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-business:hover,
.button-business:focus {
    border: none;
    background-color: #404BBF;
    fill: #FFFFFF;
}


/* planchet */

@media screen and (min-width: 768px){
    .text-section{
        padding: 112px 0;
    }
        .title-text {
            max-width: 496px;
            margin: 0 auto 36px;
        font-size: 56px;
        line-height: 107%;
        }
}

/* decktop */
@media screen and (min-width: 1158px) {
.text-section{
    padding: 188px 0;
    width: 100%;
}
.title-text {
    margin: 0 auto 48px;
}
}

/* test */
.test-class{
    display: flex;
    margin: auto ;
    padding: 96px 0;
        align-items: center;
        flex-direction: column;
        gap: 72px;
}

.test-nav{
    display: flex;
        flex-wrap: wrap;
    gap: 72px;
}

.chapter {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
text-align: center;
    color: #2e2f42;
    margin: 16px auto;
}

.paragraph {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: black;
}

.container-icon{
    display: none;
}
/* planchet */

@media screen and (min-width: 768px) {
.test-nav {
    display: flex;
    background-color: #FFFFFF;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
}

.command-link {
    width: calc((100% - 24px) / 2);
}

.chapter {
   text-align: left;
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}
}

/* decktop */
@media screen and (min-width: 1158px) {
.test-nav {
   display: flex;
        align-items: center;
        gap: 24px;
    }
.test-hero{
    display: flex;
    margin: 0 auto;
}
    .container-icon {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background-color: #f4f4fd;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
            top: 8px;
        }
        .chapter{
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2E2F42;
        }
        .paragraph{
            font-weight: 400;
                color: #434455;
                font-size: 16px;
        }
.command-link {
    width: calc((100% - 72px) / 4);
}
}

/* team */
.group {
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    padding: 120px 0;
}


.group-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team {
    padding: 32px 0;
    display: block;
}
.team-nane {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-nane:focus,
.team-nane:hover {
    background-color: #404bbf;
}
.team-list {
    display: flex;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;

}
.item-subtitle {
    text-align: center;
    margin-bottom: 8px;
}
.team-subtext {
    text-align: center;
}

.command-link-group {
    align-items: center;
    background-color: #ffffff;
border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.group-nane{
    display: flex;
        gap: 24px;
        margin-top: 8px;
        align-items: center;
        justify-content: center;
}

@media screen and (min-width: 768px) {
.team-list{
    row-gap: 64px;
    column-gap: 24px;
}
}

/* decktop */
@media screen and (min-width: 1158px) {
    .team-list{
        gap: 24px;
    }
}


/* Portfolio */
.portfolio-conta{
    padding: 96px 0 96px 0;
}
.group-name-port{
    margin-bottom: 72px;
    font-weight: 700;
    margin-top: 96px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.chapter-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;

}
.chapter-portfolio-text{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
        color: #2E2F42;
        gap: 8px;
}
.porf {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porf:hover,
.porf:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.box {
    position: relative;
    overflow: hidden;
}

.porfoloi-tekst {
    transform: translateY(100%);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.command-portf {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.team-subtext-popo {
    text-align: left;
}

@media screen and (min-width:768px ) {
    .portfolio-conta {
            padding: 96px 96px;
        }
    .porfoloi-tekst{
        display: none;
    }
        .chapter-portfolio{
            row-gap: 72px;
            column-gap: 24px;

        }
   .chapter-portfolio-text{
text-align: left;
   }
   .porf{
    flex-basis: calc((100% - 24px) / 2);
       box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08),
           0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   }
.porfoloi-tekst {
    display: none;
}
}
/* decktop */
@media screen and (min-width: 1158px) {
    .portfolio-conta {
            padding: 120px 120px;
        }
    
.porfoloi-tekst{
display: flex;
}
 .chapter-portfolio {
     row-gap: 48px;
    }
    .porf{
        flex-basis: calc((100% - 48px) / 3);
        box-shadow: none;
    }
        .porf:hover {
            box-shadow: 0px 2px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
                .porf:hover .porfoloi-tekst,
                .porf:focus .porfoloi-tekst {
                    transform: translatey(0);
                }
}

/* footer */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
   gap: 72px;
   justify-content: center;
}

.footer-subecont {
    text-align: center;
}
.futer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: raleway, sans-serif;
    margin-bottom: 16px;
    display: inline-block;
    text-align: center;
}
.futer-logo-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
}
.paragraph-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 264px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    letter-spacing: 0.02em;
}

.footer-sube {
  text-align: center;
}
.paragraf-footer-sube {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
   text-align: center;
}
.blok-input-footer {
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    line-height: 2;
    padding-left: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.butten-subscr {
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 0;
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #ffffff;
    min-width: 165px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: 16px auto 0;

}

.butten-subscr:hover,
.butten-subscr:focus{
    background-color: #404BBF;
}
.list-icons-footer {
    gap: 16px;
}
.icon-nane-subesck {
    margin-left: 16px;
    fill: #f4f4fd;
}
.footer-icons{
    gap: 16px;
}
.footer-icons:focus,
.footer-icons:hover {
    background-color: #31d0aa;
}

@media screen and (min-width:768px){
    .footer-subecont{
        text-align: left;
    }
    .footer-sube{
        text-align: left;
    }
    .footer-sube-nam{
        text-align: left;
        margin-top: 72px;
    }
        .paragraf-footer-sube{
            text-align: left;
        }
    .subescr {
            display: flex;
            gap: 24px;
        }
                .butten-subscr{
                    margin: 0;
                }
.footer-container{
   justify-content:  left;
gap: 24px;
width: 584px;

}
.blok-input-footer{
    width: 264px;
}
    }
        @media screen and (min-width:1158px) {
            .footer{
                padding: 100px 0;
            }
            .footer-container{
                width: 100%;
                gap: unset;
            }
            .footer-sube{
                margin-right:80px ;
                margin-left: 120px;
            }
        }

/* backdrop */
                .backdrop {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(46, 47, 66, 0.4);
                    z-index: 99999;
                    visibility: hidden;
                    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
    .backdrop.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }
.modal {
 position: absolute;
 top: 50%;
 left: 50%;
 display: flex;
flex-direction: column;
gap: 8px;
padding: 72px 16px 24px 16px;
border-radius: 4px;
width:288px;
min-height: 584px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
overflow-y: auto;

transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                  }
  .close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 24px;
      right: 24px;
      position: absolute;
      width: 24px;
      height: 24px;
      border: none;
      border-radius: 50%;
      background-color: #e7e9fc;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  .close-btn:hover,
 .close-btn:focus {
     border: none;
     background-color: #404bbf;
    fill: #ffffff;
 }
 .caption {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: center;
     color: #2e2f42;
     margin-bottom: 16px;
 }
 .input-text-chap {
     margin-bottom: 8px;
 }
 .input-text {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;
     display: block;
     margin-bottom: 4px;
 }
 .input-put {
     position: relative;
 }
.blok-text {
    font-family: "Roboto", sans-serif;
    display: block;
    background-color: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blok-text:hover,
.blok-text:focus {
    background-color: #404bbf;

}
 .input-put input:focus {
     border: 1px solid #4D5AE5;
 }

 .input-put input:focus+svg {
     fill: #4D5AE5;
 }
 .blok-input {
     width: 100%;
     height: 40px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     background-color: transparent;
     padding-left: 38px;
     outline: transparent;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .blok-input:focus {
     border: 1px solid #4D5AE5;
 }

 .blok-input::placeholder {
     color: #ffffff;
 }
 .icons-svg {
     position: absolute;
     top: 50%;
     left: 16px;
     transform: translateY(-50%);
     cursor: pointer;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 /* texterea */
 .textarea-checkbox {
     margin-bottom: 24px;
 }
 textarea {
     margin-bottom: 16px;
 }
 .blok-inputet-podfooter {
     width: 100%;
     height: 120px;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: rgba(46, 47, 66, 0.4);
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 4px;
     background-color: transparent;
     padding: 8px 16px;
     outline: transparent;
     resize: none;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .blok-inputet-podfooter:focus {
     border-color: #4D5AE5;
 }
 .privacy-label {
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.04em;
     color: #8e8f99;
     display: flex;
     gap: 4px;
    
 }
 .text-spane {
     line-height: 1.33;
     text-decoration: underline;
     text-decoration-skip-ink: none;
     color: #4d5ae5;
     font-weight: 400;
     font-size: 12px;
     letter-spacing: 0.04em;
 }

 .privac-label-span {
     width: 16px;
     height: 16px;
     border: 1px solid rgba(46, 47, 66, 0.4);
     border-radius: 2px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         border 250ms cubic-bezier(0.4, 0, 0.2, 1),
         fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     display: inline-flex;
     align-items: center;
     justify-content: center;
     fill: transparent;
     flex-shrink: 0;
 }
 
 .input-privacy:checked + .privacy-label .privac-label-span {
background-color: #404bbf;
fill:#f4f4fd;
border: none;
 }
 

 .text-spane {
     line-height: 1.33;
     text-decoration: underline;
     text-decoration-skip-ink: none;
     color: #4d5ae5;
     font-weight: 400;
     font-size: 12px;
     letter-spacing: 0.04em;
 }

 @media  screen and (min-width:768px) {
    .modal{
        padding: 72px 24px 24px 24px;
        width: 408px;
    }

 }