.hidden{
    display: none;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.img{
    max-width:100%;
    display: block;
    height: auto;
}

button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    margin: 0;
    font-size: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0px 16px;
}
@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
}

/* header */

.header {
    background: #fff;
    font-family: "Roboto", sans-serif;
    -second-family: "Raleway", sans-serif;
    color: #404bbf;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-nav ,
.address-head{
    display: none;
}
.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
    font-family: raleway, sans-serif;
}
.header-logo-italic {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.burder-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon{
    display: block;
    fill: #2f2f37;
}


@media screen and (min-width: 768px) {
            .mobile-menu {
                display: none;
            }
    
.burder-btn {
        display: none;
    }
        .page-nav {
            display: flex;
            align-items: center;
            gap: 40px;
        }
.address-head {
    font-style: normal;
    display: block;
 }
    .nav-link {
      display: flex;
 align-items: center;
 }
.header-logo {
        font-weight: 700;
       font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
     margin-right: 120px;
    font-family: raleway, sans-serif;
    }
     .header-link {
    display: block;
    padding: 24px 0;  
    font-weight: 500;
     font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    border-bottom: 1px solid #e7e9fc;                                                                                        
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
    .header-link.current {
      position: relative;
         }
.header-link.current::after {
 content: "";
 background-color: #404bbf;
 width: 100%;
height: 4px;
border-radius: 2px;
position: absolute;
 left: 0;
bottom: -1px;
}
.header-link:focus,
.header-link:hover,
.header-link.current {
    color: #404bbf;
}
.address-link:focus,
.address-link:hover {
    color: #404bbf;
}
.page-nav-ul {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}
.address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}
}

@media screen and (min-width: 1158px) {
    .header-logo{
        margin-right: 76px;
    }
        .page-nav-ul {
            flex-direction: row;
            align-items: center;
            gap: 40px;
        }
.address-link { 
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}


/* mobile menu */

.mobile-menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
padding-top: 72px;
padding-bottom: 40px;
display: flex;
flex-direction: column;
height: 100%;
}

.mobile-menu-nav{
    margin-bottom: auto;
}
.mobile-menu-ul {
   display: flex;
   gap: 40px;
   flex-direction: column;
   
}

.mobile-menu-li{
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
}

.mobile-list{
gap: 40px;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-list:hover,
.mobile-list:focus{
    color:#404bbf
}

.contact{
    display: block;
}

.mobile-ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-contacts{
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts:hover,
.mobile-contacts:focus {
    color: #4d5ae5;
}


.mobile-menu-close{
    position: absolute;
    top: 24px;
    border: none;
    right:24px;
    width: 24px;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        border-radius: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus{
    border: none;
        background-color: #404BBF;
        fill: #FFFFFF;
    }

.close-btn-icon{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon{
    width: 280px;
    height: 40px;
}

.mobile-nane {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 280px;
}

.mobile-team-nane{
    display: flex;
    width: 40px;
height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-team-nane:focus,
.mobile-team-nane:hover {
    background-color: #404bbf;
}

.icon-nane {
    fill: #f4f4fd;
}

/* main */

.text-section {
    background-color: #2e2f42;
    display: flex;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            image-set(
        url(../images/background/office-mob.jpg) 1x,
        url(../images/background/office-mob@2x.jpg) 2x);
  
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    margin: auto;
    background-size: cover;
}

.title-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 72px;
    max-width: 216px;
    
}

.button-business {
    min-width: 169px;
    border: none;
    height: 56px;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 4px;
    text-align: center;
    display: block;
    color: #fff;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-business:hover,
.button-business:focus {
    border: none;
    background-color: #404BBF;
    fill: #FFFFFF;
}

/* planchet */

@media screen and (min-width: 768px){
    .text-section{
        padding: 112px 0;
    }
        .title-text {
            max-width: 496px;
            margin: 0 auto 36px;
        font-size: 56px;
        line-height: 107%;
        }
}

/* decktop */
@media screen and (min-width: 1158px) {
.text-section{
    padding: 188px 0;
}
.title-text {
    margin: 0 auto 48px;
}
}

/* test */
.test-class{
    display: flex;
    margin: auto ;
    padding: 96px 0;
        align-items: center;
        flex-direction: column;
        gap: 72px;
}

.chapter {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        text-align: center;
    color: #2e2f42;
    margin: 16px auto;
}

.paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: black;
}

.container-icon{
    display: none;
}
/* planchet */

@media screen and (min-width: 768px) {
.test-nav {
    display: flex;
    background-color: #FFFFFF;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
}

.command-link {
    width: calc((100% - 24px) / 2);
}

.chapter {
   text-align: left;
}
}

/* decktop */
@media screen and (min-width: 1158px) {
.test-nav {
   display: flex;
        align-items: center;
        gap: 24px;
    }
.test-hero{
    display: flex;
    margin: 0 auto;
}
    .container-icon {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background-color: #f4f4fd;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
            top: 8px;
        }
        .chapter{
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2E2F42;
        }
        .paragraph{
            font-weight: 400;
                color: #434455;
        }
.command-link {
    width: calc((100% - 72px) / 4);
}
}

/* team */
.group {
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    padding: 120px 0;
}

.group-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team {
    padding: 32px 0;
    display: block;
}
.team-nane {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-nane:focus,
.team-nane:hover {
    background-color: #404bbf;
}
.team-list {
    display: flex;
    align-items: center;
    gap: 72px;
    flex-wrap: wrap;
    justify-content: center;

}
.item-subtitle {
    text-align: center;
    margin-bottom: 8px;
}
.team-subtext {
    text-align: center;
}

.command-link-group {
    align-items: center;
    background-color: #ffffff;
border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.group-nane{
    display: flex;
        gap: 24px;
        margin-top: 8px;
        align-items: center;
        justify-content: center;
}

@media screen and (min-width: 768px) {
.team-list{
    row-gap: 24px;
    column-gap: 64px;
}
}

/* decktop */
@media screen and (min-width: 1158px) {
    .team-list{
        gap: 24px;
    }
}


/* Portfolio */
.group-name-port{
    margin-bottom: 72px;
    font-weight: 700;
    margin-top: 96px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.chapter-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.chapter-portfolio-text{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        gap: 8px;
}
.porf {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porf:hover,
.porf:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.box {
    position: relative;
    overflow: hidden;
}

.porfoloi-tekst {
    transform: translateY(100%);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porf:hover .porfoloi-tekst,
.porf:focus .porfoloi-tekst {
    transform: translatey(0);
}

.command-portf {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.team-subtext-popo {
    text-align: left;
}

@media screen and (min-width:768px ) {
    .porfoloi-tekst{
        display: none;
    }
   .chapter-portfolio-text{
text-align: left;
   }
   .chapter-portfolio{
            column-gap: 24px;
                row-gap: 72px;
   }

}
/* decktop */
@media screen and (min-width: 1158px) {


}